@import url("./style.css");

h3 {
    margin-bottom: 0px;
}

/* #################################################
Special class definitions
--> Fiends List
################################################# */
.friend-list-item {
    display: flex;
    padding: 3px;
    border-radius: 5px;
}

.friend-list-item:hover {
    background-color: lightgray;
}

.friend-list-text {
    flex: 1;
    text-align: left;  
}

.friend-list-link {
    color: black !important;
}

.friend-list-link:hover {
    font-weight: inherit;
    font-size: inherit;
}

.friend-list-counter {
    float: right;
    text-align: right;
    border-radius: 50%;
    background-color: dodgerblue;
    text-align: center;
    width: 30px;
    height: 30px;
}

/* #################################################
Special class definitions
--> Friend Requests
################################################# */
.request-list-item {
    padding: 0px;
}

.request-list-text {
    display: inline-block;
}

.request-list-buttons {
    float: right;
}

.request-button-accept:hover {
    background-color: lightgreen;
}

.request-button-dismis:hover {
    background-color: lightsalmon;
}

.request-list-seperator {
    border: 0.25px dotted lightgrey;
}

/* #################################################
Special class definitions
--> Add New Friend
################################################# */
.suggestion-list {
    width: 75%;
    text-indent: 2%;
    list-style: none;
    background-color: white;
    border: 2px;
    padding: 3px;
}

.suggestion-item {
    font-size: smaller;
    border-bottom: 1px dotted lightgray;
}

.suggestion-item:hover {
    cursor: pointer;
    background-color: lightgray;
}