html,
body {
  max-width: 900px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: mintcream;
}

a:-webkit-any-link {
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.special {
  color: red !important;
}

button {
  color: white;
  background-color: #bfbfbf;
  border: hidden;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.blue-button {
  background-color: dodgerblue;
}

fieldset {
  border: 0.5px dashed #bfbfbf;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
}
.spezial-fieldset {
  border: 1px dashed #bfbfbf;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-style: solid !important;
}

hr {
  border: 0.5px dashed #bfbfbf;
}

.rounded_img {
  width: 100px;
  height: 100px;
  margin: 20px auto 0px auto;
  border-radius: 100%;
  display: block;
}

.centered_h {
  text-align: center;
}

.button_div {
  text-align: center;
}

dt {
  font-weight: bold;
}

legend {
  font-size: larger;
}

/* Rules for responive design */
.form-row {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.form-col-left {
  display: inline-block;
  text-align: right;
  width: 49%;
}

.form-col-right {
  display: inline-block;
  text-align: left;
  width: 49%;
}

.logout_text {
  text-align: center;
}

#profile_div_left {
  float: left;
  width: 40%;
  margin: 0.5%;
}

#profile_picture {
  width: 100%;
}

#profile_div_right {
  border: 1px solid black;
  padding: 0.5%;
}

#remove_friend {
  color: red;
}

@media only screen and (max-width: 600px) {
  [class*="form-col-"] {
    text-align: center;
    width: 100%;
  }
}
