    html, body {
        max-width: 900px;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
    }

    a:-webkit-any-link {
        color: dodgerblue;
        text-decoration: none;
    }
    
    a:hover {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
    }
    
    .special {
        color: red !important;
    }
    
    button {
        color: white;
        background-color: #bfbfbf;
        border: hidden;
        padding: 8px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .blue-button {
        background-color: dodgerblue;
    }
    
    fieldset {
        border: 0.5px dashed #bfbfbf;
        margin-bottom: 10px;
        padding: 10px;
    }
    
    img {
        width: 100px;
        height: 100px;
        margin-top: 20px;
        border-radius: 100%;
        display: block;
        margin: auto;
    }

    h1, h2, h3, h4, h5, h6 {
        color: black;
        text-align: center;
    }

    .button_div{
        text-align: center;
    }

    dt {    
        font-weight: bold;
    }

    legend {
        font-size: larger;
    }

    /* Rules for responive design */
    .form-row {
        width: 100%;
        text-align: center  ;
    }

   
    .form-col{
        display: inline-block;
    }

    .login_fieldset  {
        width: 80%  ;
    }
    

    @media only screen and (max-width: 600px) {
        .form-col {
            width: 100%;
        }
    }
