<h1>Chat with {{chatUsername}}</h1>

<div class="top-links">
  <a [routerLink]="['/friends']"> &larr; Friends</a> |
  <a [routerLink]="['/profile']"> Profile</a> |
  <a class="special-link" (click)="removeFriend()"> Remove Friend</a>
</div>

<hr />

<fieldset id="chat" class="special-fieldset" #messagesDiv>
  <table class="chat-message" *ngIf="allMessages.length == 0">
    <td class="chat-message-placeholder">You have no messages from {{chatUsername}} yet. Write your first message ...</td>
  </table>

  <table class="chat-message" *ngFor="let message of allMessages">
    <ng-container *ngIf="showSingleLined; then singleLined; else doubleLined"></ng-container>
    
    <ng-template #singleLined>
      <td class="chat-message-name">{{message.from}}:</td>
      <td class="chat-message-text">{{message.msg}}</td>
    </ng-template>
    
    <ng-template #doubleLined>
      <td class="chat-message-double-lined">{{message.from}}:<br>{{message.msg}}</td>
    </ng-template>

    <td class="chat-message-date">{{message.time | date:'dd.MM.Y mm:HH:ss':'CET'}}</td>
  </table>
  
  <div id="dot-container" class="dot-container" *ngIf="allMessages.length == 0 || showLoadingIndicator">
    <div class="dot-flashing"></div>
  </div>
</fieldset>

<hr />

<form>
  <input class="long-input" id="message" type="text" name="message" placeholder="New Message" [(ngModel)]="newMessage" autofocus required/>
  <button class="long-button" type="submit" (click)="sendMessage()">Send</button>
</form>
