
<h1>Profile Settings</h1>

<!--textfields for name/surname and the dropdown menu for beverage selection-->
<form #settingsForm="ngForm">
  <fieldset>
    <legend>Base Data</legend>

    <div class="form-row">
      <div class="form-col-left">
        <label for="firstName">First Name</label>
      </div>
      <div class="form-col-right">
        <input type="text"
         id="firstName" 
         name="firstName" 
         placeholder="Your name"
         [(ngModel)]="userProfile.firstName"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-col-left">
        <label for="lastName">Last Name</label>
      </div>
      <div class="form-col-right">
        <input type="text"
         id="lastName"
         name="lastName"
         placeholder="Your surname"
         [(ngModel)]="userProfile.lastName" 
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-col-left">
        <label for="coffeeOrTea">Coffee or Tea?</label>
      </div>
      <div class="form-col-right">

        <select [(ngModel)]="userProfile.coffeeOrTea" name="coffeeOrTea" id="coffeeOrTea">
          <option [ngValue]='1' [selected]="userProfile.coffeeOrTea == '1'">Neither nor</option>
          <option [ngValue]='2' [selected]="userProfile.coffeeOrTea == '2'">Coffee</option>
          <option [ngValue]='3' [selected]="userProfile.coffeeOrTea == '3'">Tea</option>
        </select>

      </div>
    </div>
  </fieldset>

  <!--textfield for user comment-->
  <fieldset>
    <legend>Tell Something About You</legend>
    <textarea 
      #about="ngModel" 
      name="about" 
      placeholder="Leave a comment here" 
      [(ngModel)]="userProfile.description" 
      row="5">
    </textarea>
  </fieldset>

  <!--radiobuttons to let the user choose their line settings-->
  <fieldset>
    <legend>Prefered Chat Layout</legend>
    <div class="radio-buttons">
      <input [(ngModel)]="userProfile.layout" type="radio" value="1" id="one_line" name="one_line" />
      <label for="one_line">Username and message in one line</label>
    </div>
    <div class="radio-buttons">
      <input [(ngModel)]="userProfile.layout" type="radio" value="2" id="seperated_lines" name="seperated_lines" />
      <label for="seperated_lines">Username and message in separated lines</label>
    </div>
  </fieldset>

  <!--buttons to save/cancel-->
  <div class="button-div">
    <button type="submit" (click)="cancel()">Cancel</button>
    <button class="blue-button" (click)="save()">Save</button>
  </div>
</form>
