<img class="special-img" src="../../../assets/images/user.png" alt="" />

<h1 class="special-h">Register yourself</h1>

<div class="form-row">
  <div *ngIf="generalMessage !== ''" class="register-message">{{ generalMessage }}</div>
</div>

<form>
  <fieldset>
    <legend>Register</legend>

    <div class="form-row">
      <label class="form-col-left" for="username">Username</label>
      <div class="form-col-right">
        <div *ngIf="!usernameState.ok" class="warning">{{ usernameState.msg }}</div>
        <input
          [ngStyle]="{ border: usernameState.border }"
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          [(ngModel)]="usernameState.value"
          (keyup)="checkUsername()"
          autofocus
          required
        />
      </div>
    </div>

    <div class="form-row">
      <label class="form-col-left" for="passwort">Password</label>
      <div class="form-col-right">
        <div *ngIf="!passwordState.ok" class="warning">{{ passwordState.msg }}</div>
        <input
          [ngStyle]="{ border: passwordState.border }"
          type="password"
          id="passwort"
          name="passwort"
          placeholder="Password"
          [(ngModel)]="passwordState.value"
          (keyup)="checkPassword()"
          required
        />
      </div>
    </div>

    <div class="form-row">
      <label class="form-col-left" for="confirmPassword">Confirme Password</label>
      <div class="form-col-right">
        <div *ngIf="!confirmState.ok" class="warning">{{ confirmState.msg }}</div>
        <input
          [ngStyle]="{ border: confirmState.border }"
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Confirme Password"
          [(ngModel)]="confirmState.value"
          (keyup)="checkConfirmedPassword()"
          required
        />
      </div>
    </div>
  </fieldset>

  <div class="button-div">
    <button type="submit" (click)="cancel()" formnovalidate>Cancel</button>
    <button
      type="submit"
      (click)="register()"
      [disabled]="!validRegister"
      [ngStyle]="{ background: validRegister ? 'dodgerblue' : 'lightblue' }"
    >
      Create Account
    </button>
  </div>
</form>
