<img class="special-img" src="../../../assets/images/user.png" alt="" />

<h1 class="special-h">Register yourself</h1>

<div class="form-row">
  <div *ngIf="generalMessage !== ''" class="register-message">
    {{generalMessage}}
  </div>
</div>

<form>
  <fieldset>
    <legend>Register</legend>

    <div class="form-row">
      <label class="form-col-left" for="username">Username</label>
      <div class="form-col-right">
        <div *ngIf="!(usernameExistencyStatus && usernameLengthStatus)" class="warning">{{usernameMessage}}</div>
        <input
          [ngStyle]="{'border': (usernameExistencyStatus && usernameLengthStatus) ? '2px solid green' : '2px solid red' }"
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          [(ngModel)]="username"
          (keyup)="checkUsername()"
          autofocus
          required
        />
      </div>
    </div>

    <div class="form-row">
      <label class="form-col-left" for="passwort">Password</label>
      <div class="form-col-right">
        <div *ngIf="!passwordLengthStatus" class="warning">{{passwordMessage}}</div>
        <input
          [ngStyle]="{'border': (passwordLengthStatus) ? '2px solid green' : '2px solid red' }"
          type="password"
          id="passwort"
          name="passwort"
          placeholder="Password"
          [(ngModel)]="password"
          (keyup)="checkPassword()"
          required
        />
      </div>
    </div>

    <div class="form-row">
      <label class="form-col-left" for="confirmPassword">Confirme Password</label>
      <div class="form-col-right">
        <div *ngIf="!passwordConfirmationStatus" class="warning">{{confirmMessage}}</div>
        <input
          [ngStyle]="{'border': (passwordConfirmationStatus) ? '2px solid green' : '2px solid red' }"
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Confirme Password"
          [(ngModel)]="confirmedPassword"
          (keyup)="checkConfirmedPassword()"
          required
        />
      </div>
    </div>
  </fieldset>

  <div class="button-div">
    <button type="submit" (click)="cancel()" formnovalidate>Cancel</button>
    <button class="blue-button" id="register" type="submit" (click)="register()" [disabled]="disableRegister()">Create Account</button>
  </div>
</form>