<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./register.component.css" />
    <script src="./register.component.ts"></script>
    <!-- <script src="../js/constants.js"></script> -->
    <title>Register</title>
  </head>

  <body>
    <img class="special-img" src="../../../assets/images/user.png" alt="" />

    <h1 class="special-h">Register yourself</h1>

    <form class="form-horizontal login-form" role="form" #loginForm="ngForm">
      <fieldset class="form_fieldset">
        <legend>Register</legend>

        <div class="form-row">
          <label class="form-col-left" for="benutzername">Benutzername</label>
          <div class="form-col-right">
            <input
              type="text"
              id="benutzername"
              name="benutzername"
              placeholder="Benutzername"
              [(ngModel)]="benutzername"
              #username="ngModel"
              required
            />
          </div>
          <div [hidden]="hiddenUN" class="warning">
            {{ messageUser }}
          </div>
        </div>

        <div class="form-row">
          <label class="form-col-left" for="passwort">Password</label>
          <div class="form-col-right">
            <input
              type="password"
              id="passwort"
              name="passwort"
              placeholder="Password"
              [(ngModel)]="passwort"
              #password="ngModel"
              required
            />
          </div>
          <div [hidden]="hiddenPW" class="warning">
            {{ messagePassword }}
          </div>
        </div>

        <div class="form-row">
          <label class="form-col-left" for="bestatigtPW"
            >Confirme Password</label
          >
          <div class="form-col-right">
            <input
              type="password"
              id="bestatigtPW"
              name="bestatigtPW"
              placeholder="confirme Password"
              [(ngModel)]="bestatigtPW"
              #confirmedPW="ngModel"
              required
            />
          </div>
          <div [hidden]="hiddenCPW" class="warning">
            {{ messageConfirmedPW }}
          </div>
        </div>
      </fieldset>

      <div class="button-div">
        <button type="submit" onclick="cancel()" formnovalidate>Cancel</button>
        <button class="blue-button" type="submit" onclick="create()">
          Create Account
        </button>
      </div>
    </form>
  </body>
</html>
