@import url("../../../styles.css");

/* .message {
    color: red;
}

.login-form {
    border: 1px solid black;
    width: 500px;
    text-align: center;
    padding: 20px 20px;
}

.login-button {
    width: 140px;
} */

.login-message {
    color: red;
}