<h1>Friends</h1>

<div class="top-links">
  <a [routerLink]="['/logout']"> &larr; Logout</a> |
  <a [routerLink]="['/settings']">Settings</a>
</div>

<hr />

<fieldset class="special-fieldset">
  <!-- 
    TODO: !!- 3 -!! show friends of current users 
     - create layout and elements for friends 
     - get friends and outstanding messages from server
     - link to chat if clicked on div
     - (highlight on hover over div?)
  -->
  <ul>
    <li *ngFor="let item of myFriends">
      <div #friendsName class="label-link" (click)="chat(friendsName)">
        {{ item.username }}
      </div>
      <div class="label-counter">
        <span class="special-span"> 
          {{ item.unreadMessages }}
        </span>
      </div>
    </li>
  </ul>
</fieldset>

<hr />

<h3>New Request</h3>

<!-- 
  TODO: !!- 2 -!! show current friends requests 
   - create layout and elements in html/css
   - get request from server
   - execute acceptence / dissmisal request to server
-->
<ol>
  <li *ngFor="let item of myFriendsRequests" class="request">
    <div class="request-text">
      Friend request from <b> {{ item }} </b>
    </div>
    <div class="request-buttons">
      <div class="request-buttons">
        <button type="button" (click)="acceptRequest(item)">Accept</button>
        <button type="button" (click)="rejectRequest(item)">Reject</button>
      </div>
    </div>
  </li>
</ol>

<hr />

<!-- 
  TODO: !!- 1 -!! show suggestion and send friends requests out 
   - copy code from ex. 3 solution
   - get data from ts class and server
   - execute request on submission
   - (keyup)="showSuggestions()"
-->
<form>
  <input
    id="friend-add-input"
    class="long-input"
    type="text"
    name="new-friend"
    placeholder="Add Friend to List"
    [(ngModel)]="newFriend"
    required
  />
  <button class="long-button" type="submit" (click)="addFriend()">Add</button>
</form>

<div id="autocomplete-div"></div>
