
  <h1>Profile of {{ userProfile.firstName }} </h1>
 

  <!--two hyperlinks to navigate back to chat/remove the friend-->
  <div class="top-links">
    <a [routerLink]="['/chat']"> &larr; Back to Chat</a> |
    <a (click)="removeFriend()" class="special-link"> Remove Friend</a>
  </div>

  <div>
    <div class="profile-col-left">
      <img class="profile-picture" src="..\assets\images\profile.png" alt="A profile picture"/>
    </div>

    <div  class="profile-col-right">
      <p *ngIf="userProfile.description">
        {{ userProfile.description }}
      </p> 

      <dl>
        <dt>Coffee or Tea?</dt>
        <dd *ngIf="userProfile.coffeeOrTea === '1'"> Neither nor </dd>
        <dd *ngIf="userProfile.coffeeOrTea === '2'"> Coffee </dd>
        <dd *ngIf="userProfile.coffeeOrTea === '3'"> Tea </dd>

        <dt *ngIf="userProfile.firstName">Name</dt>
        <dd *ngIf="userProfile.firstName">
          {{ userProfile.firstName }}
        </dd>
      </dl>
    </div>
  </div>
